---
layout: default
---

<div class="the-header hide-on-mobile">
    <h3 class="header-title">Jota<span>Track</span></h3>
    <div class="header-list">
        <ul>
            <li><a href="#trilhas" class="scroll links">Trilhas</a></li>
            <li>|</li>
            <!--<li><a href="#videos" class="scroll links">Vídeos</a></li>-->
            <!--<li>|</li>-->
            <li><a href="#sobre" class="scroll links">Sobre</a></li>
            <li>|</li>
            <li><a href="#contato" class="scroll links">Contato</a></li>
        </ul>
    </div>
</div>

<!--<div class="topnav show-on-mobile" id="myTopnav" style="display: none; z-index: 1">-->
    <!--<a href="#home" class="active">Home</a>-->
    <!--<a href="#news">News</a>-->
    <!--<a href="#contact">Contact</a>-->
    <!--<a href="#about">About</a>-->
    <!--<a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>-->
<!--</div>-->

<div class="background">
    <div class="trilhas">
        <h3 id="trilhas">Trilhas</h3>
        <p>Aqui você encontra alguns dos nossos trabalhos!</p>
        <ul>
            <li><a href="javascript:void(0);" onclick="invisible('todos')">Todos</a></li>
            <li><a href="javascript:void(0);" onclick="invisible('games')">Games</a></li>
            <li><a href="javascript:void(0);" onclick="invisible('jingles')">Jingles</a></li>
            <li><a href="javascript:void(0);" onclick="invisible('diversos')">Diversos</a></li>
        </ul>
        <div class="trilha-list">
            {%- for post in site.categories["trilhas"] -%}
                <div class="trilha-list-item trilha-list-item-mobile {{ post.class }}">
                    <a href="{{ post.link }}">
                        <img src="{{post.imagem}}">
                        <p>{{ post.nome }}</p>
                    </a>
                </div>
            {%- endfor -%}
            <!--<div class="trilha-list-item trilha-list-item-mobile games">
                <a href="#">
                    <img src="{{ 'assets/images/black-screensavers-wallpapers.jpg' | relative_url }}">
                    <p>Call of Duty</p>
                </a>
            </div>
            <div class="trilha-list-item trilha-list-item-mobile games">
                <a href="#">
                    <img src="{{ 'assets/images/black-screensavers-wallpapers.jpg' | relative_url }}">
                    <p>Call of Duty</p>
                </a>
            </div>
            <div class="trilha-list-item trilha-list-item-mobile jingles">
                <a href="#">
                    <img src="{{ 'assets/images/black-screensavers-wallpapers.jpg' | relative_url }}">
                    <p>Call of Duty</p>
                </a>
            </div>
            <div class="trilha-list-item trilha-list-item-mobile jingles">
                <a href="#">
                    <img src="{{ 'assets/images/black-screensavers-wallpapers.jpg' | relative_url }}">
                    <p>Call of Duty</p>
                </a>
            </div>
            <div class="trilha-list-item trilha-list-item-mobile jingles">
                <a href="#">
                    <img src="{{ 'assets/images/black-screensavers-wallpapers.jpg' | relative_url }}">
                    <p>Call of Duty</p>
                </a>
            </div>
            <div class="trilha-list-item trilha-list-item-mobile diversos">
                <a href="#">
                    <img src="{{ 'assets/images/black-screensavers-wallpapers.jpg' | relative_url }}">
                    <p>Call of Duty</p>
                </a>
            </div>
            <div class="trilha-list-item trilha-list-item-mobile diversos">
                <a href="#">
                    <img src="{{ 'assets/images/black-screensavers-wallpapers.jpg' | relative_url }}">
                    <p>Call of Duty</p>
                </a>
            </div>-->
        </div>
    </div>

    <!--<div class="videos">
        <h3 id="videos">Vídeos</h3>
        <p>Aqui você encontra alguns dos meus trabalhos!</p>
        <div class="owl-carousel owl-theme videos-list">
            {%- for post in site.categories["videos"] -%}
                <div class="item-video video-size video-size-mobile"><a class="owl-video" href="{{ post.yt_url }}"></a></div>
            {%- endfor -%}
        </div>
    </div>-->

    <div class="sobre">
        <h3 id="sobre">Sobre</h3>
        <img class="sobre-image sobre-img-mobile" src="assets/images/J TRACK  1.jpg">
        <p style="text-align: justify; text-justify: inter-word;">Fundado	e	liderado	pelo	compositor	brasileiro	Marcio	Jota,	o	estúdio
            Jota	 Track	 	 é	 	 uma	 ótima	 escolha	 para	 quem	 procura	 uma	 trilha
            sonora	 de	 alta	 qualidade,	 	 que	 se	 encaixe	 perfeitamente	 no	 seu
            projeto	 de	 game,	 filme	 ou	 publicidade.	 Servido	 de	 excelentes
            equipamentos,		o	estúdio	mostra	a	importância	de	ter	uma	boa	trilha
            sonora,	permanecendo	fiel	aos	seus	princípios.	Focado	no	padrão	das
            composições,	não	produz	música	em	massa,	em	vez	disso,	redefine	o
            significado	de	"ótima	trilha	sonora",	estabelecendo	novos	parâmetros
            musicais	para	mídia	digital	atual.

            Prazos	 apertados	 são	 comuns	 nesta	 indústria	 e	 o	 Jota	 Track	 tem
            como	 marca	 entregar	 serviços	 sempre	 no	 tempo	 estipulado.	 Além
            disso,	 tem	 uma	 excelente	 reputação	 por	 sua	 minúcia	 e	 atenção	 aos
            detalhes,	 sempre	 usando	 todo	 o	 tempo	 para	 polir	 o	 trabalho	 o
            máximo	possível	e	entregar	um	diamante	musical.	</p>
        <img class="sobre-image sobre-img-mobile" src="assets/images/FOTO MARCIO.jpg" style="margin-top: 8%;">
        <p style="text-align: justify; text-justify: inter-word;">Marcio	 Jota	 é	 um	 compositor	 brasileiro	 residindo	 em	 Brasília	 –	 DF
            que	 vem	 trabalhando	 focado	 em	 trilhas	 sonoras	 nos	 últimos	 dois
            anos.	 Com	 uma	 experiência	 musical	 de	 mais	 de	 duas	 décadas,	 é
            tecladista,	 baterista	 e	 membro	 da	 Banda	 de	 Música	 do	 Corpo	 de
            Fuzileiros	 Navais	 da	 Marinha	 do	 Brasil.	 Possui	 um	 vasto
            conhecimento	de	música	orquestral,	apesar	de	ser	um	músico	muito
            eclético	 e	 já	 ter	 produzido	 cantores	 e	 bandas	 locais	 nas	 cidades	 de
            Manaus	 e	 Rio	 de	 Janeiro.	 Com	 um	 histórico	 de	 trabalhos	 em	 jingles,
            arranjo	 de	 orquestra	 para	 musicais,	 trilhas	 pra	 games	 e	 locução,
            Marcio	 Jota	 é	 um	 profissional	 totalmente	 imerso	 no	 universo	 de
            trilhas	 sonoras.	 Para	 alcançar	 os	 melhores	 resultados,	 gosta	 de
            confiar	 em	 aspectos	 musicais	 atemporais,	 como	 melodias	 bem
            escritas,	 temas	 memoráveis	 e	 harmonias	 interessantes.	 Explorando
            orquestrações	 adequadas,	 ele	 prefere	 que	 suas	 composições	 sejam
            autossuficientes	já	"no	papel",	fazendo	com	que	os	efeitos	texturais	e
            o	ótimo	som	sejam	apenas	uma	boa	adição,	e	não	o	fator	principal.</p>
    </div>

    <div class="contato contato-mobile">
        <h3 id="contato">Contato</h3>
        <p>Aqui você pode nos contactar para obter maiores informações.</p>
        <form action="https://getsimpleform.com/messages?form_api_token=5d776ade35f11a109c0d51f47cd1cbe3" method="post">
            <div class="row">
                <div class="col">
                    <div class="form-group" style="text-align: left;">
                        <label for="exampleInputEmail1">Nome:</label>
                        <input type="text" name="Nome" class="form-control clearfocus" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" style="text-align: left;">
                        <label for="exampleInputPassword1">Email:</label>
                        <input type="email" name="Email" class="form-control" id="exampleInputPassword1">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group" style="text-align: left;">
                        <label for="exampleFormControlTextarea1">Mensagem:</label>
                        <textarea class="form-control" name="Mensagem" id="exampleFormControlTextarea1" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary send-button">Enviar</button>
        </form>
    </div>

    <div class="social-icons">
        <a id="facebook-icon" target="_blank" href="https://www.facebook.com/studiojotatrack/?hc_ref=ARTLscFxo-Kf1Uyl_CiDNj016fzp_VPnvdCTP3cyTBVUMqhLnlhzbiTwEzHTzXQYPYw&fref=nf">
            <i class="fab fa-3x fa-facebook"></i>
        </a>
        <a id="instagram-icon" target="_blank" href="https://instagram.com/jotatrack">
            <i class="fab fa-3x fa-instagram"></i>
        </a>
    </div>

</div>

</div>
